__pycache__/
*.py[cod]
.venv/
.env
.vscode/
# Big/binary types
*.blend*
*.glb
*.usd*
*.tif*
*.png
*.npy
# Big directories
South_Pole_DEMs/assets/
South_Pole_DEMs/dem_processed/
South_Pole_DEMs/usd_patches/
blender/
env_isaacsim/
utils/
scripts/
